html {
    font-size: clamp(16px, 1.172vw, 32px);
    font-family: Segoe UI,BlinkMacSystemFont,-apple-system,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}
pre.table-information {
  margin: 0;
}
span.flexspan {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
input[type="checkbox"] {
    transform: scale(2);
    margin: 0.5em;
}
.copy, .save {
  position: fixed;
  bottom: 2em;
  width: 100%;
  transition: bottom 0.5s ease-in 0s;
}
.copy p, .save p {
  width: fit-content;
  margin: auto;
  background-color: #303040;
  color: #f0feff;
  padding: 0.3em 1em;
  border: 0.2em solid #5d5e66;
}
a {
  font-size: 1.25em;
}
.claro a:link {
  color:#3d4292;
}
.oscuro a:link {
  color:#73acf5;
}
.claro a:visited {
  color:#7400b3;
}
.oscuro a:visited {
  color:#ff8ce9;
}
summary {
  margin: 1.25em 0;
  cursor: pointer;
}
details[open] {
  margin: 1.25em 0;
}
.girar {
  grid-area:b;
  align-self: center;
  cursor:pointer;
}
.container {
  display: grid;
  grid-template-areas:
    "ahh bhh chh"
    "ah bh ch"
    "a b c"
    "dh eh fh"
    "d e f"
    "gh hh ih"
    "g h i"
    "jh kh lh"
    "j k l"
    "mh nh oh"
    "m n o"
    "ph qh sh"
    "p q s"
    "rh th uh"
    "r t u"
    "vh wh xh"
    "v w x"
    "yh yh yh"
    "y y y"
    "zh zh zh"
    "z z z";
  grid-template-columns: 12.313em 2.75em 12.313em;
  justify-content: start;
  align-items: start;
  justify-items: center;
}

.container + .container {
    margin-top: 0.5em;
}

.container label {
    text-align: center;
    align-self: end;
}

input, textarea, select, label, button{
  font-size: clamp(16px, 1.172vw, 32px);
}
svg {
  cursor:pointer;
}
#textoarray {
  height: 200px;
  width:stretch;
  width:-webkit-fill-available;
  width:-moz-available;
}
#darkmode {
  position:fixed;
  bottom:16px;
  right:8px;
  border-radius: 100px;
  background-color: #fff0;
  border-width: 0px;
}
.copybutton {
  display: inline-block;
  border-width: 0;
  background-color: #fff0;
}
.claro {
  background: #e4e7eb;
  color: black;
}
.oscuro, .oscuro select, .oscuro svg{
  background: #1c1d22;
  color: #f0feff;
}

input.claro, textarea.claro, select.claro {
  background: #ffffff;
  color: black;
}
input[type="text"] {
 font-family: monospace; 
}
input[type="button"], button {
  background: #303040;
  color: #f0feff;
  border-color: #5d5e66;
  cursor:pointer;
}
.claro button svg {
  color: black;
}
.oscuro input, .oscuro textarea {
  background: #303040;
  color: #f0feff;
  border-color: #5d5e66;
}
.oscuro input::placeholder, .oscuro textarea::placeholder {
  opacity: 0.7;
  color: #f0feff;
}
.claro input::placeholder, .claro textarea::placeholder {
  opacity: 0.8;
  color: black;
}

.oscuro dialog {
  background-color: #1c1d22;
  color: #f0feff;
  border-color: black;
}

::backdrop {
  background-color: #0004;
}

.flexDialogForm {
  display: flex;
  column-gap: 0.5em;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.CodeTextArea {
  width: 25em;
  height: 15.625em;
}
